<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <table th:fragment="job-list" th:each="job : ${jobs}" class="job-listing">
        <tr th:each="item : ${job.fieldsPaired}">
            <td th:text="${item.key}"></td>
            <td th:text="${item.value}"></td>
            <td th:if="${item.key} == 'Id'"></td>
            <td th:if="${item.key} == 'Name'"></td>
            <td th:if="${item.key} == 'Employer'">
                <a th:href="@{/list/jobs(column=employer,value=${job.employer})}"
                   class="fa fa-external-link"></a>
            </td>

            <td th:if="${item.key} == 'Location'">
                <a th:href="@{/list/jobs(column=location,value=${job.location})}"
                   class="fa fa-external-link"></a>
            </td>

            <td th:if="${item.key} == 'Position Type'">
                <a th:href="@{/list/jobs(column=positionType,value=${job.positionType})}"
                   class="fa fa-external-link"></a>
            </td>

            <td th:if="${item.key} == 'Core Competency'">
                <a th:href="@{/list/jobs(column=coreCompetency,value=${job.coreCompetency})}"
                   class="fa fa-external-link"></a>
            </td>
        </tr>
    </table>

</body>
</html>